header {
    padding: 10px 0;
}
header img {
    float: left;
}
header h2 {
    float: left;
    font-size: 40px;
    line-height: 70px;
    font-weight: bold;
    margin-left: 20px;
    font-style: italic;
}
